body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-bg{
    background-color: #F1F3FF;
    padding-right: 4%;
    padding-left: 4%;
}

.logo{
    display: flex;
    padding: 20px;
}

/* ul{
    list-style: none;
} */

.nav_list{
    display: flex;
    padding: 20px;
    gap: 10%;
    margin: 0;
}

.hero-section{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #F1F3FF;
    height: 500px;
    /* background-repeat: no-repeat;
    background-size: contain; */
    margin-bottom: 5rem;
}
.item1{
    display: flex;
    align-items: center;
}
.subitem1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 12rem;
    padding-right: 12rem;
}
.item2{
    display: flex;
    align-items: flex-end;
}
.car_image{
    width: auto;
    height: auto;
}

.services{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 5rem;
}
.services-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
}
.services-subcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.list-services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
    margin-top: 1rem;
}
.list-item-service{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.why-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 5rem;
}
.why-us-list{
    display: flex;
    align-items: center;
}
.why-us-sublist{
    display: flex;
    align-items: flex-end;
    gap: 16px;
}
.list-item-6-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    left: 0px;
    top: 0px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    border-radius: 8px;
    padding: 24px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 5rem;
}
.testimonial-title{
    text-align: center;
}