body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-bg{
    background-color: #F1F3FF;
    padding-right: 4%;
    padding-left: 4%;
}

.logo{
    display: flex;
    padding: 20px;
}

/* ul{
    list-style: none;
} */

.nav_list{
    display: flex;
    padding: 20px;
    gap: 10%;
    margin: 0;
}

.section1{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: #F1F3FF;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    flex: wrap;
    margin-bottom: 5rem;
}
.item{
    padding-top: 5rem;
    padding-left: 4rem;
}
.title1{
    font-size: 50px;
    margin-bottom: 2rem;
}
.item1{
    padding-right: 1rem;
}
a{
    font-size: 14px;
    margin-bottom: 2rem;
}
.btn{
    margin-top: 2rem;
}
.item2{
    display: flex;
    flex-grow: 1;
    float: right;
}
.car_image{
    width: 100%;
    height: auto;
}

.section2{
    display: flex;
    justify-content: center;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 5rem;
}
.item4{
    padding-right: 5rem;
}
.subitem4{
    margin-top: 1rem;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 5rem;
    gap: 24px;
}
.subitem6{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}
.list-item-6-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 268px;
    width: 268px;
    left: 0px;
    top: 0px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    border-radius: 8px;
    padding: 24px;
}


